/* div {
    background-color: red;
    width: 100px;
    height: 100px;
    border: 1px */
}
/* #div1 {
    background-color: red;
    width: 200px;
    height: 200px;
    border: 1px solid black
}
#div2 {
    background-color: green;
    width: 200px;
    height: 200px;
    border: 1px solid black
}
#div3 {
    background-color: blue;
    width: 200px;
    height: 200px;
    border: 1px solid black
}
.special {
    margin-left: 200px
}
.redText{
    color: red;
} 


.square{
    width: 200px;
    height: 200px;
    border: 1px solid black}

#div1 {
    background-color: red}
#div1 {
    background-color: black}
#div1 {
    background-color: blue}    
    .special {
    margin-left: 200px
}
.redText{
    color: red !important;